<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="ical.ui.GenerateiCalHandler"
            commandId="iCal.ui.GenerateiCal">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="iCal.ui.GenerateiCal"
            name="GenerateICalandar">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               label="Generate iCal Format">
            <command
                  commandId="iCal.ui.GenerateiCal"
                  label="Generate.iCal"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
                  <with
                        variable="activeMenuSelection">
                     <iterate
                           ifEmpty="false"
                           operator="and">
                        <adapt
                              type="iCal.iCalFormat">
                        </adapt>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>

</plugin>
