<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="icalsirius.project.design.Activator"
               id="icalsirius.project.design"
	       name="icalsirius">
    </component>
  </extension>
</plugin>
